div.container-fluid {
    padding: 3% 5%;
}

div.supermarket-title {
    justify-content: flex-start;
    margin-left: 5%;
    align-self: center;
}

.admin-form {
    max-width: 30%;
    display: block;
    margin: 45px;
    margin-left: 30%;
}

.admin-form-container {
    display:flex;
    flex-direction: column;
    row-gap: 30px;
}

button.promotion-button {
    width: 40%;
    height: 60px;
    font-size: medium;
    padding: 0;
}

.admin-form_buttons {
    display: flex;
    column-gap: 35px;
}