/*Estilos genericos*/
.content__list--gap{
    gap: 20px;
  }
  .list__style {
    list-style: none;
    color: black;
  }
  footer.bg-black2{
    background-color: var(--gray-color-light);
    border-top: 3px solid var(--gray-color);
  }
  .bi__font--size{
    font-size: 25px;
  }
  .footer__legal{
    color: black;
  }
  @media  (min-width: 768px) {
    .footer__market{
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }