.navbar__bg--black{
    background: var(--gray-color-light);
    color: black;
    border-bottom: 3px solid var(--gray-color);
}
.navbar__bg--black .nav-link, .navbar-brand{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.navbar .navbar-collapse{
    max-width: max-content;
}