*{
    margin: 0;
}

.dropdown-button {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-right: 20%;
    width: 100%;
    border: none;
    background-color: transparent;
    column-gap: 20px;
    align-items: center;
}

.dropdown-button_icon {
    width: 20px;
}

.dropdown-button_name {
    width: 100%;
    margin: 0;
    font-size: 2rem;
}