.product-info-editable {
    background-color: var(--gray-color-light);
    padding: 2px 10px;
    border-radius: 10px;
    min-width: 100px;
    width: 100%;
}

.product-info-editable_title {
    color: var(--gray-color);
    font-size: medium;
    margin-bottom: 1px;
}

.product-info-editable_value {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
}